<ion-view title="Bebidas" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/rztO2w6QYK1dtQicalSQ_635980743690830477-989314837_12324367965_35eef6a11c_o.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="bebidas-button-bar4" class="button-bar">
      <a ui-sref="start()" id="bebidas-button14" style="font-weight:300;" class="button button-assertive button-large button-block icon-left ion-android-arrow-back">Atrás</a>
      <a ui-sref="start()" id="bebidas-button15" class="button button-balanced button-large button-block icon-right ion-android-add">Añadir al pedido</a>
    </div>
    <div class="list card i" id="bebidas-card21">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item20">
        <h2>Cafe Solo</h2>
      </ion-item>
      <form id="bebidas-form2" class="list">
        <label class="item item-select" id="bebidas-select1">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select2">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range1">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card24">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item22">
        <h2>Cafe Con Leche</h2>
      </ion-item>
      <form id="bebidas-form4" class="list">
        <label class="item item-select" id="bebidas-select5">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select6">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range2">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card25">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item24">
        <h2>Cafe Descafeinado</h2>
      </ion-item>
      <form id="bebidas-form5" class="list">
        <label class="item item-select" id="bebidas-select7">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select8">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range3">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card26">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item25">
        <h2>Cafe Manchado</h2>
      </ion-item>
      <form id="bebidas-form6" class="list">
        <label class="item item-select" id="bebidas-select9">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select10">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range4">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card27">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item26">
        <h2>Cafe Cortado</h2>
      </ion-item>
      <form id="bebidas-form7" class="list">
        <label class="item item-select" id="bebidas-select11">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select12">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range5">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card28">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item27">
        <h2>Cacao</h2>
      </ion-item>
      <form id="bebidas-form8" class="list">
        <label class="item item-select" id="bebidas-select13">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
        <label class="item item-select" id="bebidas-select14">
          <span class="input-label">Edulcorantes</span>
          <select>
            <option>Nada</option>
            <option>Azucar</option>
            <option>Edulcorante</option>
          </select>
        </label>
        <ion-item class="range range-positive" id="bebidas-range6">Cantidad Edulcorante
          <input type="range" value="0" min="0" max="100" step="25">
        </ion-item>
      </form>
    </div>
    <div class="list card" id="bebidas-card29">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item28">
        <h2>Batido</h2>
      </ion-item>
      <form id="bebidas-form9" class="list">
        <label class="item item-select" id="bebidas-select15">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="bebidas-card210">
      <ion-item class="item-thumbnail-left" id="bebidas-list-item29">
        <h2>Refresco</h2>
      </ion-item>
      <form id="bebidas-form10" class="list">
        <label class="item item-select" id="bebidas-select19">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>