<ion-view title="Bolleria" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/JIglDs1pQyyiH4IBLzw8_banh-mi-thom-ca-phe-dang.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="bolleria-button-bar3" class="button-bar">
      <a ui-sref="start()" id="bolleria-button11" style="font-weight:300;" class="button button-assertive button-large button-block icon-left ion-android-arrow-back">Atrás</a>
      <a ui-sref="start()" id="bolleria-button12" style="font-weight:600;" class="button button-balanced button-large button-block icon-right ion-android-add">Añadir al Pedido</a>
    </div>
    <div class="list card" id="bolleria-card211">
      <ion-item class="item-thumbnail-left" id="bolleria-list-item36">
        <h2>Donut</h2>
      </ion-item>
      <form id="bolleria-form13" class="list">
        <label class="item item-select" id="bolleria-select22">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="bolleria-card212">
      <ion-item class="item-thumbnail-left" id="bolleria-list-item37">
        <h2>Croissant</h2>
      </ion-item>
      <form id="bolleria-form14" class="list">
        <label class="item item-select" id="bolleria-select23">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="bolleria-card213">
      <ion-item class="item-thumbnail-left" id="bolleria-list-item38">
        <h2>Palmera</h2>
      </ion-item>
      <form id="bolleria-form15" class="list">
        <label class="item item-select" id="bolleria-select24">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="bolleria-card214">
      <ion-item class="item-thumbnail-left" id="bolleria-list-item39">
        <h2>Magdalenas</h2>
      </ion-item>
      <form id="bolleria-form16" class="list">
        <label class="item item-select" id="bolleria-select25">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>