<ion-view title="PasarelaPago" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="pasarelaPago-card220">
      <div class=" item item-image">
        <img src="img/lzWG2RyMT0uZvq8DMrHW_paying-money.jpg.838x0_q67_crop-smart.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 748px; height: 55px;"></div>
      <ion-item class="item-icon-left" id="pasarelaPago-list-item51">
        <i class="icon ion-card"></i>Pago Con Tarjeta</ion-item>
      <ion-item class="item-icon-left" id="pasarelaPago-list-item53">
        <i class="icon ion-social-bitcoin"></i>Pago En Caja</ion-item>
    </div>
  </ion-content>
</ion-view>