<ion-view title="start" hide-nav-bar="true" id="page1">
  <ion-content padding="true" style="background: url(img/0Sx6rUYSQeRehYfghG8w_635980743690830477-989314837_12324367965_35eef6a11c_o.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/rniomuHQ62I1JIKEa0oj_Coffee-Logo-Transparent-Background.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card bebidas" id="start-card22">
      <h1 id="start-heading1" style="color:#000000;font-weight:600;">1º Seleccione sus productos</h1>
      <ion-item class="item-thumbnail-left item-icon-right dark" id="start-list-item13" ui-sref="bebidas()">
        <img src="img/DRUkAJ4oQBO6Cdh7c8n8_Food-Hot-Chocolate-icon.png">
        <h2dark>Bebidas
          <p>Añade tu bebida</p>
          <i class="icon ion-android-add-circle"></i>
        </h2dark>
      </ion-item>
      <div class="spacer" style="width: 748px; height: 40px;"></div>
      <ion-item class="item-thumbnail-left item-icon-right dark" id="start-list-item14" ui-sref="bolleria()">
        <img src="img/hwXfKMWPQiihDLcVqYDd_497293-200.png">
        <h2dark>Bollería
          <p>Añade Bollería</p>
          <i class="icon ion-android-add-circle"></i>
        </h2dark>
      </ion-item>
      <div class="spacer" style="width: 748px; height: 40px;"></div>
      <ion-item class="item-thumbnail-left item-icon-right dark" id="start-list-item31" ui-sref="tostadas()">
        <img src="img/4AM8FV9rQuu1eN2B7vI7_13443-200.png">
        <h2dark>Tostada
          <p>Añade Tostadas</p>
          <i class="icon ion-android-add-circle"></i>
        </h2dark>
      </ion-item>
      <h1 id="start-heading2" style="color:#000000;font-weight:600;">2º Realizar Pedido</h1>
      <a ui-sref="pasarelaPago()" id="start-button19" class="button button-balanced button-block">Realizar Pedido</a>
    </div>
  </ion-content>
</ion-view>