<ion-view title="Tostadas" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/JIglDs1pQyyiH4IBLzw8_banh-mi-thom-ca-phe-dang.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="tostadas-button-bar1" class="button-bar">
      <a ui-sref="start()" id="tostadas-button6" style="font-weight:300;color:Default;border-radius:2px 2px 2px 2px;" class="button button-assertive button-large button-block icon-left ion-android-arrow-back">Atrás</a>
      <a ui-sref="start()" id="tostadas-button7" style="font-weight:600;" class="button button-balanced button-large button-block icon-right ion-android-add">Añadir al Pedido</a>
    </div>
    <div class="list card" id="tostadas-card215">
      <ion-item class="item-thumbnail-left" id="tostadas-list-item40">
        <h2>Tostada Aceite</h2>
      </ion-item>
      <form id="tostadas-form17" class="list">
        <label class="item item-select" id="tostadas-select26">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
        <ion-radio id="tostadas-radio1">Entera</ion-radio>
        <ion-radio id="tostadas-radio2">Media</ion-radio>
        <label class="item item-select" id="tostadas-select30">
          <span class="input-label">Tipo Pan</span>
          <select>
            <option>Normal</option>
            <option>Mollete</option>
            <option>Integral</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="tostadas-card216">
      <ion-item class="item-thumbnail-left" id="tostadas-list-item41">
        <h2>Tostada Mantequilla</h2>
      </ion-item>
      <form id="tostadas-form18" class="list">
        <label class="item item-select" id="tostadas-select27">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
        <ion-radio id="tostadas-radio3">Entera</ion-radio>
        <ion-radio id="tostadas-radio4">Media</ion-radio>
        <label class="item item-select" id="tostadas-select33">
          <span class="input-label">Tipo Pan</span>
          <select>
            <option>Normal</option>
            <option>Mollete</option>
            <option>Integral</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="tostadas-card217">
      <ion-item class="item-thumbnail-left" id="tostadas-list-item42">
        <h2>Tostada Paté</h2>
      </ion-item>
      <form id="tostadas-form19" class="list">
        <label class="item item-select" id="tostadas-select28">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
        <ion-radio id="tostadas-radio6">Entera</ion-radio>
        <ion-radio id="tostadas-radio8">Media</ion-radio>
        <label class="item item-select" id="tostadas-select31">
          <span class="input-label">Tipo Pan</span>
          <select>
            <option>Normal</option>
            <option>Mollete</option>
            <option>Integral</option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="tostadas-card218">
      <ion-item class="item-thumbnail-left" id="tostadas-list-item43">
        <h2>Tostada Aceite y Jamón</h2>
      </ion-item>
      <form id="tostadas-form20" class="list">
        <label class="item item-select" id="tostadas-select29">
          <span class="input-label">Cantidad</span>
          <select>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </label>
        <ion-radio id="tostadas-radio5">Entera</ion-radio>
        <ion-radio id="tostadas-radio7">Media</ion-radio>
        <label class="item item-select" id="tostadas-select32">
          <span class="input-label">Tipo Pan</span>
          <select>
            <option>Normal</option>
            <option>Mollete</option>
            <option>Integral</option>
          </select>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>